.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 70px;
}

.header_type_dark {
    background: #073042;
}

.header__menu-iten {
    color: black;
}