.footer {
    padding: 80px 70px 20px;
    text-align: start;
    background: #FAFAFA;
}

.footer__title {
    color: #A0A0A0;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin: 0;
}

.footer__container {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.footer__link {
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.footer__copyright {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media (max-width:768px) {
    .footer {
        background: #FFF;
        padding: 80px 30px 20px;
    }
}

@media (max-width:370px) {
    .footer {
        padding: 80px 10px 20px;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__title {
        font-size: 12px;
    }

    .footer__link {
        font-size: 12px;
        text-align: center;
        margin: 0 0 12px
    }

    .footer__copyright {
        font-size: 12px;
        text-align: center;
        margin-top: 18px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

}