.techs {
    padding: 70px 100px;
    background: #F5F5F5;
    text-align: start;
}

.techs__subtitle {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.techs__text {
    margin: 26px auto;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
    max-width: 460px;
}

.techs__list {
    padding: 0;
    margin: 100px 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.techs__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background: #E8E8E8;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}